
/* 
    Created on : 15.1.2020, 19:38:59
    Author     : Helinä Marttila
*/

/*  h1 = #004d1a
    h2 = #00802b
    h3 = #00cc44
    body = #e6e6e6
    vaalein = #e6ffee
    toiseksivaalein = #4dff88
*/

body {
    background-color: #e6e6e6;
}

header,
nav,
div {
    background-color: snow;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px 20px 20px;
    border-radius: 10px;
    font-family: verdana;
}

h1, h2, h3 {
    font-family: Georgia;
}

h1{
    color: #004d1a;
}

h2{
    color: #00802b;
}

h3{
    color: #00cc44;
}

table{
    border: 3px solid #00802b;
    border-collapse: separate;
}

td, th {
   border: 1px solid #00cc44;
   padding: 10px;
   text-align: left;
   vertical-align: top;
}

th {
    color:#004d1a;
    background-color: #e6ffee;
}

figure {
    margin-left: 0px;
}

img {
    max-width: 100%;
}

.värikurs {
    font-family: georgia;
    font-style: italic;
    color: #00cc44;
}

p.taustamuodot {
    border-radius: 20px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 20px;
}

p.taustavärisävy {
    background-color: #e6ffee;
}

p.taustaväribody {
    background-color: #e6e6e6;
}

address {
    text-align: right;
}

a {
    text-decoration: none;
    color: #00802b;
    font-weight: bold;
}

a:visited {
    text-decoration: none;
    color: #00802b;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color:#00cc44;
}

.lista {
    border: 1px solid #00cc44;
    display: inline-block;
    padding: 0px;
    height: 250px;
    width: 250px;
    vertical-align: top;
    margin-right: 20px;
}

.lista h3 {
    background-color: #e6ffee;
    margin-top: 0px;
    line-height: 2em;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
}

.lista ul ul {
    padding-left: 20px;
}

nav,
header {
    margin-bottom: 1em;
    padding: 10px 10px 10px 20px;
}

nav li {
    display: inline-block;
}

nav li a {
    background-color: #e6ffee;
    line-height: 2em;
    display: block;
    padding-left: 1em;
    padding-right: 1em;
}

nav ul {
    padding-left: 0px;
    padding-right: 0px;
}

nav {
    background-color: #e6ffee;
}

nav li a:hover {
    color: #e6ffee;
    background-color: #4dff88;
    text-decoration: none;
}

.kuvat li {
    display: inline-block;
    width: 20%;
    margin-right: 2em;
    margin-bottom: 2em;
}

.kuvat li img {
    border: solid #00802b 1px;
    border-radius: 10px;
}

ul.kuvat {
    padding: 0px;
    margin: 0px 0px 0px 0px;
}

